name: Deploy to Huawei ECS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: appleboy/ssh-action@v1.0.3
      with:
        host: 122.8.135.50
        username: root
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: /root/deploy.sh
