name: Hello Actions

on:
  push:

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:

      - name: get the code
        uses: actions/checkout@v3
        
      - name: Print a message
        run: echo "Hello from GitHub Actions"

      - name: List files
        run: ls